body{
    font-family: "Concert One";
    font-size: 20px;
    overflow: hidden;
    background-color: bisque;
}

button {
    font-family: "Concert One";
}
/* Estilos para a modal */
.modal {
    font-family: "Concert One";
    display: none; /* Inicialmente oculta */
    position: fixed; /* Posicionamento fixo */
    z-index: 1; /* Z-index para ficar acima do conteúdo da página */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto; /* Para permitir rolagem caso a modal seja maior que a tela */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
    z-index: 5;
}

.modal-content {
    font-family: "Concert One";
    background-color: #fefefe;
    margin: 10% auto; /* Centraliza a modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Largura da modal */
    height: 50%;
    border-radius: 50px;
}
.close {
    color: #e70101;
    float: right;
    font-size: 60px;
    font-weight: bold;

}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnModal {
    position: absolute;
    left: 90px;
    top: 550px;
    width: 80px;
    height: 80px; 
    z-index: -1;
}

#btnModal2 {
    position: absolute;
    left: 950px;
    top: 440px;
    width: 30px;
    height: 30px; 
    z-index: -1;
}

#btnModal3 {
    position: absolute;
    left: 660px;
    top: 490px;
    width: 50px;
    height: 100px; 
    z-index: -1;
}

#btnModal4 {
    position: absolute;
    left: 490px;
    top: 360px;
    width: 40px;
    height: 50px; 
    z-index: -1;
}

footer {
    background-color: #252424;
    color: rgb(255, 10, 202);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }  


#circle 
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px; /* metade do width */
    margin-top: -50px; /* metade do height */
    background-color: rgba(255, 53, 204, 1);
    border-radius: 50%;
    z-index: 4;
}
  
@keyframes slide {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 25vh;
      left: 25vw;
    }
    50% {
      top: 50vh;
      left: 50vw;
    }
    75% {
      top: 75vh;
      left: 75vw;
    }
    100% {
      top: calc(100vh - 50px);
      left: calc(100vw - 50px);
    }
}


canvas {
    border: 1px solid black;
  }
  
  #canvas-container {
    position: relative;
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    left: 50px;
    bottom: 250px;
  }
  
#canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
  
 